<style>
  .modal {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto 20px;
    z-index: 1;
    max-width: 100%;
  }
  .modal-body{padding-bottom: 20px;}
  h1.login {width: 89px, float:left; margin: 12px 0 0 236px;}
</style>

<script>
	$(document).ready(function(){
		$("a.btn").css("display", "none");
		$("h1.login").css("display", "inline-block")
		$("a#login").css("display", "none");
	});
</script>

<div class="modal">
	<div class="modal-body">
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
	</div>
</div>
