<div class="link-navigate">
    <h2 class="title">Вход</h2>
    <%= link_to "Зарегистрироваться", signup_path %>
</div>
<div id="content">
  <% if flash[:notice] %>
        <div class="alert alert-block alert-success">
              <p id="notice" ><%= flash[:notice] %></p>
        </div>
  <% end %>
  <%= form_tag(sessions_path, :class => "standart-form") do %>
    <div class="item">
      <%= label_tag :email %>
      <div class="field">
        <%= text_field_tag :email, params[:email] %>
      </div>
    </div>
    <div class="item">
      <%= label_tag :password, "Пароль" %>
      <div class="field">
        <%= password_field_tag :password %>
      </div>
    </div>
    <!--<div class="item">
      <div class="field">   
        <input id="remember_me" type="checkbox" name="remember_me" value="1">
        <label for="remember_me">Запомнить меня</label>
      </div>
    </div>-->
    <%= submit_tag "Войти", :class => "input-sub btn btn-warning", :id => "btn-login" %>
  <% end %>
  <div class="link-help">
    <a href="#">Я забыл пароль</a> 
    <a href="#">Мне не пришло письмо активации</a>
  </div>
</div><!-- #content-->