        <div class="link-navigate">
            <h2 class="title">Регистрация</h2>
            <% if current_user %>
            	<%= link_to "Вход", login_url %>
            <% else %>
            	<%= link_to "Выход", logout_url %>
            <% end %>
        </div>
        <div id="content">
        <% if current_user.active? %>
			<div class="choice-link"><%= link_to "Даю работу", :controller => "confirmation", :action => "employer", :token => current_user.token %> <%= link_to "Ищу работу", :controller => "confirmation", :action => "applicant", :token => current_user.token %></div>
		<% else %>
			<%= link_to "Ваш профиль не активирован", active_recovery_path(:email =>current_user.email) %>
		<% end %>
        </div><!-- #content-->