<div class="link-navigate">
    <h2 class="title">Регистрация</h2>
    <%= link_to "Вход", login_url %>
</div>

<div id="content">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%#= devise_error_messages! %>
	  <% if alert or notice %>
	        <div class="alert alert-block alert-success">
	              <p id="notice" ><%= notice %></p>
	              <p id="alert" ><%= alert %></p>
	        </div>
	  <% end %>

	  <div class="item">
	    <div class="field">
	      <%= f.label :email %>
	      <%= f.text_field :email, :type => :email %>
	    </div>
	  </div>
	
	  <div class="item">
	    <div class="field">
	      <%= f.label :password, "Пароль" %>
	      <%= f.password_field :password %>
	    </div>
	  </div>
	
	  <br/>
      <%= f.submit "Зарегистрироваться", :class => "input-sub btn btn-warning", :onclick => "_gaq.push(['_trackEvent', 'reg', 'send'])" %>
	<% end %>

	<br/>
	<%= render "devise/shared/links" %>
</div>
