<style>
	.form-search {
		margin-bottom: 25px;
	}
	.searchInput {
		width: 246px !important;
	}
	.searchButton {
		padding-bottom: 6px;
	}
</style>

<%= form_tag admin_accounts_path, :class => 'form-search', method: :get do %>	
	<div class="input-append">
		<%= text_field_tag :search, params[:search], :class => "span2 search-query searchInput" %>
        <%= submit_tag "Найти", email: nil, :class => "btn searchButton" %>
	</div>

<% end %>

<% a = 0%>
<table class="table">  
	<tr>
		<th>#</th>
		<th>Email</th>
		<th>Тип аккаунта</th>
		<th>Активация</th>
		<th>Посещений</th>
		<th>Последнее</th>
	</tr>
	<% @accounts.each do |account| %>
	<tr>
		<td style="width:10px"><%= a += 1%></td>
		<%# FIXME: refactoring this method in the helper method %>
		<% if account.employer? %>
			<% company = Company.find_by_employer_id(account.id)%>
			<td><%= link_to_unless(company.nil?, account.email, {:controller => "/admin/companies/profile", :action => "edit", :id => company} ) do
			 		account.email
				end %></td>
		<% elsif account.applicant? %>
			<% resume = Resume.find_by_applicant_id(account.id)%>
				<td><%= link_to_unless(resume.nil?, account.email, {:controller => "/admin/resume", :action => "edit", :id => resume} ) do 
					account.email
					end %></td>
		<% else %>
			<td><%= account.email %></td>
		<% end %>
		
		<%# link_to account.id, helper_link(account.id)%>
		<td><%= account.account_type %></td>
		<td><%= if account.active? then "Активирован" else "Не активирован" end%></td>
		<td><%= account.session_count %></td>
		<td><%= account.session_last_time.localtime.strftime("%F %H:%M") if account.active? %></td>
	</tr>
	<% end %>
</table>