<div id="search-result">
			<h1 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК ВАКАНСИЙ</span></h1>
			<span class="label-tail-last-vacancies"></span>
			<table class="search-result" width="100%">
				<% @vacancies.each do |vacancy| %>	
					<tr>
						<td><%= image_tag vacancy.company.logo.url(:search), :class => "photo-employer", :title => "Компания #{vacancy.company.name}. Работа в медицине medical.netbee.ua" %></td>
						<td><%= link_to vacancy.name, {:controller => "search", :action => "vacancy", :scope => Russian.translit(vacancy.category.scope.title).parameterize, :category => Russian.translit(vacancy.category.name).parameterize, :id => vacancy.to_param} %></td>
						<td><%= vacancy.city %></td>
	    				<td><%= vacancy.salary %> грн.</td>
					</tr>
				<% end %>
			</table>
			<!-- <div class="link-more"><b><a href="#" onclick="_gaq.push(['_trackEvent','more','send'])">Показать еще</a></b></div> -->
			<div class="link-more"><b><%= paginate @vacancies %></div>
</div>