<div id="search-result">
			<h1 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК РЕЗЮМЕ</span></h1>
			<span class="label-tail-last-vacancies"></span>
			<table class="search-result" width="100%">
				<% @resumes.each do |resume| %>	
					<tr>
						<td><%= image_tag resume.profile.photo.url(:search), :class => "photo-applicant", :title => "Резюме #{resume.position}. Работа в медицине medical.netbee.ua" %></td>
						<td><%= link_to resume.position, :controller => :search, :action => :resume, :id => resume.to_param %></td>
		  				<td><%= resume.city %></td>
		    			<td><%= resume.salary %> грн.</td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><%= paginate @resumes %></div>
			<!-- <div class="link-more"><b><a href="#" onclick="_gaq.push(['_trackEvent','more','send'])">Показать еще</a></b></div> -->
</div>

