<div id="search-result" class="block-with-cap">
	<div class="cap">
		<h1 id="about">Работа <%= morpher_inflect_helper(@category_by_view.name, "category") %></h1>
	</div>
	<div class="boxed">
		<div class="label">
			<h2 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК ВАКАНСИЙ</span></h2>
			<span class="label-tail-last-vacancies"></span>
			<div class="full-label-gray-last-vacancies"></div>
		</div>
		<table class="search-result" width="100%">
			<% @vacancies.each do |vacancy| %>	
				<tr>
					<td><%= image_tag vacancy.company.logo.url(:search), :class => "photo-employer", :title => "Компания #{vacancy.company.name}. Работа в медицине medical.netbee.ua" %></td>
					<td><%= link_to vacancy.name, {:controller => "search", :action => "vacancy", :city =>Russian.translit(vacancy.city).parameterize, :scope => Russian.translit(vacancy.category.scope.title).parameterize, :category => Russian.translit(vacancy.category.name).parameterize, :id => vacancy.to_param} %></td>
					<td><%= vacancy.city %></td>
    				<td><%= vacancy.salary %> грн.</td>
				</tr>
			<% end %>
		</table>
		<div class="link-more"><b><a href="#" onclick="_gaq.push(['_trackEvent','more','send'])">Показать еще</a></b></div>
	    <%# link_to 'Просмотр', :controller => "search", :action => "show", :id => vacancy.id %>
	</div>
</div>

<% unless @category_by_view.description.empty? %>
	<div id="frame-seo" class="frame-category-profesional">
	      <div class="boxed">
	      	<div class="cover_article_show_pag cover-seo">
	      		<%= image_tag @category_by_view.cover.url(:index), :class => "cover_news", :title => "Работа в медицине medical.netbee.ua" %>
	      	</div>
	      	<%= raw @category_by_view.description %>
	      </div> <!-- .boxed -->
	</div> <!-- #frame-other -->
<% end %>

<div class="clearfix"></div>

<div class="link-scope">
	<%= render partial: "scope_link" %>
</div>
