<%= form_tag search_path, method: :post do %>
<div class="search"> 
                <div class="search-box clearfix">
                    <%= text_field_tag :search, params[:search], :class => "input-text", :placeholder => "Укажите специальность" %>
                    <%= text_field_tag :city, params[:city], :class => "input-city", :placeholder => "Город" %>
                    <% if current_user && current_user.employer? %>
                    	<%= select_tag(:sample, options_for_select([['Резюме', 2], ['Вакансии', 1]], params[:sample]), :class => "styled") %>
                    <% else %>
                    	<%= select_tag(:sample, options_for_select([['Вакансии', 1], ['Резюме', 2]], params[:sample]), :class => "styled") %>                    	
                    <% end %>
                    <%= submit_tag "Найти", name: nil, :class => "input-sub btn btn-warning", :id => "btn-search", :onclick => "_gaq.push(['_trackEvent','search','send'])" %>
                </div>
            </div> 	
<% end %>

<% unless @vacancies.nil? %>
	<%= render "applicant" %>
<% else %>
	<%= render "employer" %>
<% end %>

<%= render "layouts/scope_list" %>