<div id="search-result">
			<h1 class="title-last-vacancies"><span class="icon-last-vacancies">СПИСОК ВАКАНСИЙ</span></h1>
			<span class="label-tail-last-vacancies"></span>
			<table class="search-result" width="100%">
				<% @vacancies.each do |vacancy| %>	
					<tr>
						<td><%= image_tag vacancy.company.logo.url(:search), :class => "photo-employer", :title => "Компания #{vacancy.company.name}. Работа в медицине medical.netbee.ua" %></td>
						<td><%= link_to vacancy.name, {:controller => "search", :action => "vacancy", :scope => @scope, :category => Russian.translit(vacancy.category.name).parameterize, :id => vacancy.to_param} %></td>
						<td><%= vacancy.city %></td>
	    				<td><%= vacancy.salary %> грн.</td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><a href="#" onclick="_gaq.push(['_trackEvent','more','send'])">Показать еще</a></b></div>
	    <%# link_to 'Просмотр', :controller => "search", :action => "show", :id => vacancy.id %>
</div>

<div id="frame-seo" class="frame-category-profesional">
      <div class="boxed">
      	<%= raw @categories.first.scope.description %>
      </div> <!-- .boxed -->
</div> <!-- #frame-other -->

<div id="frame-other" class="frame-category-profesional">
      <div class="cap">
            <h2 id=""><% if @scope == "drugoe"%> Другие специальности <% else %> <%= @categories.first.scope.title %> <% end %></h2>
      </div>
      <div class="boxed">
      		<ul id="triple">
			<% @categories.each do |category| %>
				<% c = Russian.translit(category.name).parameterize %>
				<li><%= link_to "#{category.name}", {:controller => :search, :action => "category", :category => c} %></li>
            <% end %>
           	</ul>
      </div> <!-- .boxed -->
</div> <!-- #frame-other -->

<div class="clear"></div>

<div class="link-scope">
        <% @scopes.each do |scope| %>
                <% s = Russian.translit(scope.title).parameterize %>
                <%= link_to "#{scope.title}", {:controller => :search, :action => "scope", :scope => s} %> <span>|</span>
        <% end %>
</div>

