<div id="frame">
      <div class="cap">
            <h2 id="about"><%= "#{@vacancy.name} (#{@vacancy.experiences}, #{@vacancy.salary} грн.)" %></h2>
      </div>

      <div class="boxed">
      	<table cellpadding="0" cellspacing="0" class="photo-name-employer">
      		<tr>
      			<td><%= image_tag @vacancy.company.logo.url(:small), :class => "photo-employer" %></td>
      			<td><h2>&#171;<%= @vacancy.company.name %>&#187;</h2></td>
      		</tr>
      	</table>
          <table class="paper company" border="0" cellpadding="10">
                              <tr>
                              	<td>Должность</td>
      	                        <td><%= @vacancy.name %></td>
                              </tr>
      						<tr>
      							<td>Зарплата</td>
      							<td><%= @vacancy.salary %></td>
      						</tr>
                              <tr>
                              	<td>Регион</td>
                              	<td><%= @vacancy.city %></td>
                              </tr>
                              <tr>
                              	<td>Опыт работы</td>
                              	<td><%= @vacancy.experiences %></td>
                              </tr>
                              <tr>
                              	<td>График работы</td>
                              	<td><%= @vacancy.timetable %></td>
                              </tr>
                              <tr>
                              	<td>Описание вакансии</td>
                              	<td><%= @vacancy.description %></td>
                              </tr>
                              <tr>
                              	<th colspan="2" class="line-bottom"></th>
                              </tr>
                              <tr>
                              	<td>Контактная информация</td>
                              	<td> <% @vacancy.company.company_contacts.each do |contact| %>
                              			<div><%= "#{contact.name}: #{contact.phone}" %></v>
                              		 <% end %>
                              	</td>
                              </tr>
                              <tr>
                                    <th colspan="2" class="line-bottom"></th>
                              </tr>
      				</table>    
                              <div id="button-bottom">
                                    <%= link_to "Откликнуться на вакансию", "/", :class => "input-sub btn btn-warning", :id => "btn-yellow-for-link" %>
                                    <div class="clear"></div>
                              </div>
      </div> <!-- #boxed -->
</div> <!-- #frame -->
<div class="clear"></div>
