<% a = 0%>
<table class="table">  
	<tr>
		<th></th>
		<th>Вакансия</th>
		<th>Компания</th>
		<th>Статус</th>
		<th>Создание</th>
		<th>Окончание</th>
	</tr>
	<% @vacancies.each do |vacancy|%>
	<tr>
		<td style="width:10px"><%= a += 1%></td>
		<td><%= link_to vacancy.name, edit_admin_companies_vacancy_path(vacancy) %></td>
		<td><%= link_to vacancy.company.name, edit_admin_companies_profile_path(vacancy.company)%></td>
		<td><%= vacancy.human_state_name%></td>
		<td><%= vacancy.created_at.localtime.to_formatted_s(:db)%></td>
		<td>
			<% if vacancy.published? or vacancy.hot? %>
				<%= vacancy.publicated_at.localtime.next_month.to_formatted_s(:db)%>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>