    <style>
    	#error_explanation {
    		padding: 10px;
    		border: 1px solid rgba(255, 124, 134, 0.5);
    		border-radius: 6px;
    		margin: 10px 0;
    		box-shadow: 0 6px 7px -3px rgba(159, 159, 159, 0.5);
    	}

    	#error_explanation ul li {
    		list-style-type: none;
    		padding: 5px 0 0 10px;
    		color: #767676;
    	}
    </style>

    <h3>Написать статью</h3>

	<div class="boxed">
		<%= form_for([:admin, @article], :html => { :class => 'standart_form news_form' }) do |f| %>
			<% if @article.errors.any? %>
			  <div id="error_explanation">
			    <h3>Статья не может быть сохранена, заполните поля:</h3>
			    <ul>
			    	<% @article.errors.full_messages.each do |msg| %>
			    	  <li><%= "#{msg}" %></li>
			    	<% end %>
			    </ul>
			  </div>
			<% end %>
			<div class='item' style="margin-bottom: 0px;">
			    <div class='field'>
			      <%= image_tag @article.cover.url(:index), :alt => "", :id => "image-path-photo" %>
			      <a id="upload-cover" class="upload-photo">Загрузить картинку</a>
			      <%= f.file_field :cover, :accept => "image/jpeg,image/png,image/gif", :id => "file", :hidden => "hidden" %>
			    </div>
			</div>
			<div class='item'>
				<div class='field'>
					<%= f.text_field :title %>
				</div>
			</div>
			<div class='item'>
				<div class='field'>
					<%= f.text_area :body, :class => 'wysihtml5' %>
				</div>
			</div>
			<div class='item'>
				<div class='field'>
					<%= check_box_tag('default_published', "true", @default_published_value, :class => "default_news") %>
					<%= f.label :default_published, "Сделать новость главной" %>	
				</div>
			</div>
			<div class='item'>
				<%= f.label :description, 'Краткое описание', :class => 'description' %>
				<div class='field'>
					<%= f.text_area :description, :class => 'description' %>
				</div>
			</div>

			<span class="line-bottom line-bottom-company line-bottom-scope"></span>
			<div id="button-bottom">
				<%= f.submit "Опубликовать", :class => "input-sub btn btn-warning" %>
			</div>	
			<div class="clear"></div>
		<% end %>
	</div>
</div>