<div class='item'>
	<%= f.label :name, "Название вакансии" %>
	<div class='field'>
		<%= f.text_field :name %>
	</div>
</div>
<div class='item'>
	<%= f.label :category, "Категория" %>
	<div class='field'>
		<%= f.text_field :category %>
	</div>
</div>
<div class='item'>
	<%= f.label :city, "Регион" %>
	<div class='field'>
		<%= f.text_field :city %>
	</div>
</div>
<div class='item'>
	<%= f.label :salary, "З/П" %>
	<div class='field'>
		<%= f.text_field :salary %>
	</div>
</div>
<div class='item'>
	<%= f.label :experiences, "Опыт" %>
	<div class='field'>
		<%= f.text_field :experiences %>
	</div>
</div>
<div class='item'>
	<%= f.label :timetable, "График работы" %>
	<div class='field'>
		<%= f.radio_button :timetable, "5/2" %> 5/2
		<%= f.radio_button :timetable, "Посменно" %> Посменно
		<%= %> 
	</div>
</div>
<div class='item'>
	<%= f.label :description, "Описание вакансии" %>
	<div class='field'>
		<%= f.text_field :description %>
	</div>
</div>