<div class='item'>
	<%= f.label :name, "Название вакансии" %>
	<div class='field'>
		<%= f.text_field :name %>
	</div>
</div>
<div class='item'>
	<%= f.label :category, "Категория" %>
	<div class='field'>
		<%= f.text_field :category %>
	</div>
</div>
<div class='item'>
	<%= f.label :city, "Регион" %>
	<div class='field'>
		<%= f.text_field :city %>
	</div>
</div>
<div class='item'>
	<%= f.label :salary, "Заработная плата" %>
	<div class='field'>
		<%= f.text_field :salary, :class => "salary" %>
		<i class="currency">грн</i>
	</div>
</div>
<div class='item'>
	<%= f.label :experiences, "Опыт" %>
	<div class='field'>
		<%= f.text_field :experiences %>
	</div>
</div>
<div class='item'>
	<%= f.label :timetable, "График работы" %>
	<div class='field'>
		<%= f.radio_button :timetable, "5/2", :class => "timetable" %> 5/2
		<%= f.radio_button :timetable, "Посменно", :class => "timetable" %> Посменно
		<%= f.radio_button :timetable, "Другой вариант", :id => "timetable_radio_button" %>Другой вариант
		<%= f.text_field :timetable_other, :id => "timetable_input" %> 
	</div>
</div>
<div class='item'>
	<%= f.label :description, "Описание вакансии" %>
	<div class='field'>
		<%= f.text_area :description %>
	</div>
</div>
<div class='item'>
	<%= f.label :company_contact_id, "Контакты" %>
	<div class='field'>
		<%# f.collection_select(:company_contact_id, @contactsHash['fullName'], :id, :name) %>
		<%= f.select("company_contact_id", CompanyContact.where("company_id = ?", current_user.company.id ).collect {|p| [ "#{p.name} - #{p.phone}", p.id ] }, { :include_blank => true }, {:class => "vacancy_company_select", :id => "e2_2"})%>
	</div>
</div>
