<script>$("#frame").css("margin-bottom", "150px");</script>

<div class="cap">
  <h2 id="about">Список вакансий</h2>
</div>
<div class="boxed">

  <% if flash[:notice] %>
        <div class="alert alert-block alert-success">
              <p id="notice" ><%= flash[:notice] %></p>
        </div>
  <% end %>

<table class="table list-vacancies">
  <% unless @vacancies.empty? %>
  <tr>
    <th>Название</th>
    <th>Регион</th>
    <th>Статус</th>
    <th>Годна до</th>
    <th></th>
    <!--<th></th>-->
  </tr>
  <% @vacancies.each do |vacancy| %>
    <tr>
      <td><%= link_to vacancy.name, employer_vacancy_path(vacancy.id) %></td>
  	  <td><%= vacancy.city %></td>
      <td><%= vacancy.human_state_name %></td>
      <td><%= vacancy.publicated_at.next_month.strftime("%d.%m.%Y") %></td>

      <% case vacancy.state %>
      <% when "deferred", "published", "hot" %>
          <td><%= link_to "Обновить", {:controller => "employer/vacancies", :action => :update_publicated, :id => vacancy.id}, :title => "Обновить дату публикации", :class => "yellow-link" %>
      <% else %>
          <td>
      <% end %>

      <%= link_to 'Редактировать', edit_employer_vacancy_path(vacancy.id), :class => "yellow-link" %></td>
      <!--<td><%# link_to 'Удалить', ([:employer, vacancy]), method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  <% else %>
    <tr>
      <td>Нет созданных вакансий</td>
    </tr>
  <% end %>

  <tr>
  <td colspan="5"><%= link_to 'Добавить вакансию', new_employer_vacancy_path, :class => "add_fields_for input-sub btn btn-warning" %></td>
  </tr>
</table>

<br />
  <div id="button-bottom">
    <%# link_to 'Добавить вакансию', new_employer_vacancy_path, :class => "add_fields_for input-sub btn btn-warning" %>
  </div>
</div>