<style>
	.disable {
		display: none;
	}
</style>

<%= render :partial => "admin/companies/navbar_company"%>
<%= @message %>
<%= form_for([:admin, :companies, @vacancy], :html => {:class => "standart_form"}) do |f| %>
	<div class='item'>
		<%= label_tag "Статус вакансии" %>
		<div class='field'>
			<i><%= @vacancy.human_state_name %></i>
		</div>
	</div>
	<div class='item'>
		<%= label_tag "Статус компании" %>
		<div class='field'>
			<i><%= @company.human_state_name %></i>
		</div>
	</div>
	<%= render :partial => "employer/vacancies/form", :locals => { :f => f } %>
	<h5>Сообщение от модератора</h5>
	<%= text_area_tag 'body_letter', nil, :class => "body_letter" %>
	<ul class="nav nav-pills">
		<li><%= f.submit "Обновить", :class => "save_edit_button", :name => "update" %></li>
		<li><%= f.submit "Опубликовать", :class => helpers_class(@company), :name => "published" unless @vacancy.published? %></li>
		<li><%= link_to("Удалить", admin_companies_vacancy_path(@vacancy), :method => :delete, :confirm => 'Вы, уверены, что хотите удалить вакансию?') %></li>
		<li><%= 
		link_to_unless(@vacancy.rejected?, "Отклонить", { :controller => 'admin/companies/vacancy', :action => :reject, :id => @vacancy.id }, :confirm => 'Вы, уверены, что хотите отклонить вакансию?') do
			"Отклонена"
		end
		%></li>
	</ul>
<% end %>