<%# FIXME: Code monkey => class="activate"%>
<ul class="nav nav-tabs">
	<li><p class="company_name"><%= @company.name %></p></li>
	<li class=<%= active_tab(edit_admin_companies_profile_path(@company)) %>>
		<%= link_to "Профиль компании", edit_admin_companies_profile_path(@company) %>
	</li>
	<li class=<%= 'active' unless current_page?(edit_admin_companies_profile_path(@company)) %>>
		<%= link_to "Вакансии компании", :controller => :profile, :action => :vacancies, :id => @company %>
	</li>
</ul>