<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @admin_task.index %>
</p>

<p>
  <b>New:</b>
  <%= @admin_task.new %>
</p>


<%= link_to 'Edit', edit_admin_task_path(@admin_task) %> |
<%= link_to 'Back', admin_tasks_path %>
