

<style>
/*FIXME: STYLE CSS transfer on assets/stylesheets*/

	.create-button a {
			font-size: 1.55em;
			float: left;
			padding-right: 10px;
	}
	.create-resume{
			padding: 30px;
			background: none;
			border: 1px solid #767676;
			border-radius: 10px;	
	}		
	.form-search {
		margin-bottom: 25px;
	}
	.searchInput {
		width: 246px !important;
	}
	.searchButton {
		padding-bottom: 6px;
	}
	
</style>
<%= form_tag admin_search_vacancies_path, :class => 'form-search', method: :get do %>
	<div class="input-append">
		<%= text_field_tag :search, params[:search], :class => "span2 search-query searchInput" %>
	    <%= submit_tag "Найти", name: nil, :class => "btn searchButton" %>
	</div>
<% end %>

<table class="table">
  <tr>
    <th>Название вакансии</th>
    <th>З/П</th>
    <th>Регион</th>
  </tr>
<% @vacancies.each do |vacancy| %>
  <tr>
    <td><%= link_to vacancy.name, edit_admin_companies_vacancy_path(vacancy.id) %></td>
    <td><%= vacancy.salary %></td>
  	<td><%= vacancy.city %></td>
  </tr>
<% end %>
</table>

