<h5>Работодатель</h5>
<div class='item'>
	<%= label_tag "Email" %>
	<div class='field'>
		<%= @company.employer.email%>
	</div>
</div>
<div class='item'>
	<%= label_tag "Статус" %>
	<div class='field'>
		<%= @company.human_state_name%>
	</div>
</div>
<div class='item'>
	<%= label_tag "Кол-во посещений" %>
	<div class='field'>
		<%= @company.employer.session_count %>
	</div>
</div>
<div class='item'>
	<%= label_tag "Зарегистрирован" %>
	<div class='field'>
		<%= @company.employer.created_at.localtime.strftime("%F %H:%M") %>
	</div>
</div>
<div class='item'>
	<%= label_tag "Последнее посещение" %>
	<div class='field'>
		<%= @company.employer.session_last_time.localtime.strftime("%F %H:%M") %>
	</div>
</div>