<div id="frame" class="frame-admin">
	<div class="cap">
		&ldquo;<%= @company.name %>&rdquo;
	</div>
<%# @message %>
	<div class="boxed">
		<% a = 0%>
		<table class="table table_companies_vacancy_index">
		  <tr>
		    	<th></th>
				<th>Название</th>
				<th>Статус</th>
				<th>Дата создания</th>
				<th>Дата окончания</th>
		  </tr>

		<% @vacancies.each do |vacancy| %>
		  <tr>
		    	<td style="width:10px"><%= a += 1%></td>
				<td><%= link_to vacancy.name, edit_admin_companies_vacancy_path(vacancy) %></td>
				<td><%= vacancy.human_state_name%></td>
				<td><%= vacancy.created_at.to_formatted_s(:db)%></td>
				<td><%= vacancy.created_at.next_month.to_formatted_s(:db)%></td>
		  </tr>
		<% end %>
		</table>
		<div class="clear"></div>
	</div> <!-- boxed -->
</div> <!-- #frame -->
<%= render :partial => "admin/companies/navbar_company"%>
