<div id="frame" class="frame-admin">
	
	<div class="boxed">
		<%= nested_form_for([:admin, @resume], :html => { :class => 'standart_form' } ) do |applicant_fields| %>	

			<%= render :partial => 'applicant_state' %>

			<span class="line-bottom line-bottom-company"></span>

			<%= render :partial => 'applicant/resumes/resume', :locals => { :applicant => applicant_fields.object, :applicant_fields => applicant_fields} %>
			
			<span class="line-bottom line-bottom-company"></span>

			<h2>Сообщение от модератора</h2>
			<%= text_area_tag 'body_letter', nil, :class => "body_letter" %>

			<span class="line-bottom line-bottom-company"></span>

			<div id="button-bottom">
				<%= applicant_fields.submit "Опубликовать", :class => "input-sub btn btn-warning", :name => "published" unless @resume.published? %>
				<%= applicant_fields.submit "Обновить", :class => "input-sub btn save-as", :name => "update" %>
				<%= applicant_fields.submit "Удалить", :class => "input-sub btn save-as", :name => "destroy",  :confirm => 'Вы, уверены, что хотите удалить резюме?' %>
				<%= applicant_fields.submit "Отклонить", :id => "btn-cancel", :class => "input-sub btn btn-danger", :name => "reject",  :confirm => 'Вы, уверены, хотите отменить резюме?' unless @resume.rejected? %>
			</div>	
		<% end %>
		<div class="clear"></div>
	</div> <!-- boxed -->
</div> <!-- #frame -->
<div class="clear"></div>
