<style>
	#profes-resume{
		margin: 15px 0 0 0;
	}
	fieldset {
    	border: 1px dashed black;
    	margin: 10px;
    	padding: 20px;
  	}
	.hint, .hint-pc {
		background-color: #F0F0F0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		float: left;
		display: block;
		height: 20px;
		font-size: 14px;
		padding-bottom: 4px;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0 15px 0 0;
		text-align: center;
		width: 100px;
	}

</style>

<div class="content-resume">
	<%= nested_form_for([:admin, @resume], :html => { :class => 'standart_form' } ) do |applicant_fields| %>	
<!--<hr / class="nav-line-buttom">-->
	<%= render :partial => 'applicant_state' %>
	<%= render :partial => 'applicant/resumes/resume', :locals => { :applicant => applicant_fields.object, :applicant_fields => applicant_fields} %>
<ul class="nav nav-pills">
	<li><%= applicant_fields.submit "Обновить", :class => "save_edit_button", :name => "update" %></li>
	<li><%= applicant_fields.submit "Опубликовать", :class => "save_edit_button", :name => "published" unless @resume.published? %></li>
	<li><%= link_to("Удалить", admin_resume_path(@resume), :method => :delete, :confirm => 'Вы, уверены, что хотите удалить резюме') %></li>
	<li><%= 
		link_to_unless(@resume.rejected?, "Отклонить", {:controller => :resumes, :action => :reject, :id => @resume.id }, :confirm => 'Отклонить резюме?') do	
			"Отклонено"
		end
	%></li>
</ul>
<% end %>
	<div class="clear"></div>
</div>