<% a = 0%>
<table class="table">  
	<tr>
		<th></th>
		<th>Название</th>
		<th>Статус</th>
		<th>Дата создания</th>
		<th>Дата окончания</th>
	</tr>
	<% @resumes.each do |resume|%>
	<tr>
		<td style="width:10px"><%= a += 1%></td>
		<td><%= link_to resume.position, edit_admin_resume_path(resume) %></td>
		<td><%= resume.human_state_name %></td>
		<td><%= resume.created_at.to_formatted_s(:db)%></td>
		<td><%= resume.created_at.next_year.to_formatted_s(:db)%></td>
	</tr>
	<% end %>
</table>