 <script>
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy",
      shortYearCutoff: 50
    }); 
</script>                                                                                                                                             
<div class="line_top"></div>
<div class='item'>
	<%= f.label "Компания"%>
	<div class='field'>
	  	<%= f.text_field :company, :value => f.object.company, :class=>"recent_company validate", :default_value => "Компания" %>
	</div>
	<a href="#" style="margin: 0 0 0 10px;">Скрыть</a>
</div>	
<div class='item'>
	<%= f.label "Занимаемая должность"%>
	<div class='field'>	  
		<%= f.text_field :position, :value => f.object.position, :class=>"recent_position validate big ", :default_value => "Какую должность Вы занимали" %>
	</div>
</div>
<div class='item'>  
    <%= f.label :achievements, "Обязанности, достижения"%>
	<div class='field'>
		<%= f.text_area :achievements, :class => "achievements validate", :default_value => "Чем занимались и чего достигли за это время" %>
	</div>
</div>
<div class='item'>
     <%= f.label "Период работы"%>
	 <div class='field'>
		 <p><i>с</i> <%= f.text_field :from, :class=> "only_date validate recent_from datepicker", :value => f.object.from, :default_value => "дд/мм/гггг" %> 
		 <i>по</i> <%= f.text_field :till, :class=> "only_date validate recent_till datepicker", :value => f.object.till, :default_value => "дд/мм/гггг" %></p>
	 </div>					
</div>	

<div class="line_buttom"><span class="remove_field"><%= f.hidden_field :_destroy %><%= f.link_to_remove "Удалить" %></span></div>
