<script>
// FIXME: change this for something appropriate
	$(".current_workplace:checkbox").click(function(){
	    var check = $(this).attr('checked');
	    var parent_date = $(this).parent().parent().find(".month_till, .year_till");
	    if (check == "checked") {
	        $(parent_date).css('display', 'none');
			$(this).parent().addClass(".span_current_workplace_active"); //css("margin-top", "8px");
	    }
	    else{
	        $(parent_date).css('display', 'inline');
	    }
	 });
</script>
<script src="/assets/selectbox.js" type="text/javascript"> 
	//Скрипт для select 
	//FIXME: не солилдно здесь оставлять этот скрипт так
</script>

<div class="line_top"></div>
<div class='item'>
	<%= f.label "Компания"%>
	<div class='field'>
	  	<%= f.text_field :company, :value => f.object.company, :class=>"recent_company validate", :default_value => "Компания" %>
	</div>
	<!--<a href="#" style="margin: 0 0 0 10px;">Скрыть</a>-->
</div>	
<div class='item'>
	<%= f.label "Занимаемая должность"%>
	<div class='field'>	  
		<%= f.text_field :position, :value => f.object.position, :class=>"recent_position validate big ", :default_value => "Какую должность Вы занимали" %>
	</div>
</div>
<div class='item'>  
    <%= f.label :achievements, "Обязанности, достижения"%>
	<div class='field'>
		<%= f.text_area :achievements, :class => "achievements validate", :default_value => "Чем занимались и чего достигли за это время" %>
	</div>
</div>	
<div class='item'>
     <%= f.label "Период работы"%>
	 <div class='field'>
		 <%= f.select(:month_from, ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"], {:include_blank => true }, {:class => "month_from styled"}) %> <%= f.text_field :year_from, :default_value => "год", :class => "year_from" %> &ndash;
		<%= f.select(:month_till, ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"], {:include_blank => true }, {:class => "month_till styled"}) %> <%= f.text_field :year_till, :default_value => "год", :class => "year_till" %>
	 	<span class="span_current_workplace">
		<%= f.check_box(:current_workplace, {:class => "current_workplace"}, "true", "false")%>
		<%= f.label :current_workplace, "Сейчас работаю здесь"%>
		</span>
	 </div>	
</div>

<%= f.hidden_field :_destroy %><%= f.link_to_remove "Удалить место работы", :class => "red-link" %>
<div class="clearfix"></div>

