<script>
	$(function() {
		$( "#datepicker" ).datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: "dd/mm/yy",
			shortYearCutoff: 50
		});
	});
</script>
<div class='item'>
	<%= f.label 'Фамилия' %>
	<div class='field'>
		<%= f.text_field :lastname, :value => "#{@profile.lastname}" %>
	</div>
</div>
<div class='item'>
	<%= f.label 'Имя' %>
	<div class='field'>
		<%= f.text_field :firstname, :value => "#{@profile.firstname}" %>
	</div>
</div>
<div class='item'>
	<%= f.label 'Отчество' %>
	<div class='field'>
		<%= f.text_field :surename, :value => "#{@profile.surename}"%>
	</div>
</div>
<div class='item'>
	<%= f.label 'Дата рождения' %>
	<div class='field'>
		<%= f.text_field :date, :value => "#{@birthday}", :id => "datepicker", :placeholder => " дд/мм/гггг" %>
	</div>
</div>
<div class='item'>
	<%= f.label 'Мобильный телефон' %>
	<div class='field'>
		<%= f.text_field :phone, :value => "#{@profile.phone}" %>
	</div>
</div>
