<div class='item'>
	<%= f.label :lastname, 'Фамилия' %>
	<div class='field'>
		<%= f.text_field :lastname, :value => "#{@profile.lastname}" %>
	</div>
</div>
<div class='item'>
	<%= f.label :firstname, 'Имя' %>
	<div class='field'>
		<%= f.text_field :firstname, :value => "#{@profile.firstname}" %>
	</div>
</div>
<div class='item'>
	<%= f.label :surename, 'Отчество' %>
	<div class='field'>
		<%= f.text_field :surename, :value => "#{@profile.surename}"%>
	</div>
</div>
<div class='item'>
	<%= f.label :date, 'Дата рождения' %>
	<div class='field'>
		<%= f.text_field :date, :value => "#{@profile.date}", :class => "datepicker", :placeholder => " дд.мм.гггг", :readonly => "readonly" %>
	</div>
</div>
<div class='item'>
	<%= f.label :phone, 'Мобильный телефон' %>
	<div class='field'>
		<%= f.text_field :phone, :value => "#{@profile.phone}", :type => "tel", :id => "phone", :placeholder => "+(0xx) xxx xx xx", :min => "10" %>
	</div>
</div>
    <div class='item' style="margin-bottom: 0px;">
      <%= f.label 'Фото' %>
        <div class='field'>
          <%= image_tag @profile.photo.url(:small), :alt => "", :id => "image-path-photo" %>
          <a id="upload-photo-applicant" class="upload-photo">Загрузить фото</a>
          <%= f.file_field :photo, :accept => "image/jpeg,image/png,image/gif", :id => "file", :hidden => "hidden" %>
        </div>
    </div>