<p>Опыт Работы</p>

  
        <%= applicant_fields.fields_for :experiences do |experience_fields| %>
          <%= render :partial => "experience_fields", :locals => {:experience => experience_fields.object, :f => experience_fields}  %>
        <%end %>
        <%= applicant_fields.link_to_add "Добавить место работы", :experiences %>


<p>Образование</p>


      <%= applicant_fields.fields_for :educations do |education_fields| %>
        <%= render :partial => "education_fields", :locals => {:education => education_fields.object, :f => education_fields}  %>
      <% end %>

      <%= applicant_fields.link_to_add "Добавить место учебы", :educations %>

<p>Знание языков</p>
 <%= applicant_fields.fields_for :languages do |language_fields| %>	
		<%= render :partial => "language_skill_fields", :locals =>  {:language => language_fields.object, :f => language_fields} %>
 <% end %>
<%= applicant_fields.link_to_add "Добавить языки", :languages, :id => "add_lang_skill" %>

<p>Компьютерные навыки</p>
	<%= applicant_fields.fields_for :pc_skills do |pc_skill_fields| %>
		<%= render :partial => "pc_skill_fields", :locals =>  {:pc_skills => pc_skill_fields.object, :f => pc_skill_fields} %>
 	<% end %>
<%= applicant_fields.link_to_add "Добавить компьютерные навыки", :pc_skills %>

