<div class="cap">
	<img src="/assets/save.png" class="icon-save"><a href="#" class="save-link">Сохранить</a>
	<img src="/assets/cancel.png" class="icon-cancel"><%= link_to "Отменить", root_path %>
</div>
<div class="boxed">
	<% if flash[:notice] %>
	      <br>
	      <div class="alert alert-block alert-success">
	            <p id="notice"><%= flash[:notice] %></p>
	      </div>
	<% end %>
	<%= nested_form_for([:applicant, @resume], :html => { :class => 'standart_form' } ) do |applicant_fields| %>				
		<%= render :partial => 'resume', :locals => { :applicant => applicant_fields.object, :applicant_fields => applicant_fields} %>
		<div id="personal-date">
			<%= applicant_fields.check_box :personal_data %>
			<%= label :personal_data, "Согласен с условиями" %> <%= link_to "пользовательского соглашения", personal_data_index_url, :class => "personal_data", :target => "_blank"%>
		</div>
		
		<span class="line-bottom line-bottom-company"></span>

		<div id="button-bottom">
			<%= link_to "Отменить", "/", :id => "btn-cancel", :class => "input-sub btn btn-danger" %>
			<%= applicant_fields.submit "Сохранить", :class => "input-sub btn btn-warning", :name => "save" %>
		</div>
	<% end %>
	<div class="clear"></div>
</div>
