<script>	
	//Убирает логотип и аватар если они пусты
	var img = $("img.photo-applicant");
	if (img.attr("alt") == "Missing") {
    	img.parent().remove();
	}
</script>

<div class="cap">
	<img src="/assets/red-pencil.png" class="icon-red-pencil"><%= link_to "Редактировать", edit_applicant_resume_path(@resume) %>
	<img src="/assets/delete.png" class="icon-delete"><%= link_to("Удалить", applicant_resume_path(@resume.id), :method => :delete, :confirm => 'Вы, уверены, что хотите удалить резюме') %>
	<img src="/assets/cancel.png" class="icon-cancel"><%= link_to("Скрыть", :controller => "resumes", :action => "defer", :id => @resume.id) %>
	<img src="/assets/export-pdf.png" class="icon-cancel"><%= link_to "Экспортировать в PDF", applicant_resume_path(@resume, :format => 'pdf') %>
</div>
<div class="boxed" id="cabinet">
	<!--<div class="photo"><%# image_tag @profile.photo.url(:show), :class => "photo-applicant" %></div>
	<div class="name-applicant"><h2><%# @fullName %></h2></div>-->
	
	<table cellpadding="0" cellspacing="0" class="photo-name-applicant">
		<tr>
			<td><%= image_tag @profile.photo.url(:show), :class => "photo-applicant", :title => "#{@resume.position}. Работа в медицине medical.netbee.ua" %></td>
			<td><h2><%= @fullName %></td>
		</tr>
	</table>
    <table class="paper" border="0" cellpadding="10" style="margin-bottom: 15px;">
                        <tr>
                        	<td>Желаемая должность</td>
	                        <td><%= @resume.position %></td>
                        </tr>
						<tr>
							<td>Желаемая зарплата</td>
							<td><%= @resume.salary %> грн.</td>
						</tr>
                        <tr>
                        	<td>Регион</td>
                        	<td><%= @resume.city %></td>
                        </tr>
                        <tr>
                        	<td>Электронная почта</td>
                        	<td><%= @applicant.email %></td>
                        </tr>
                        <tr>
                        	<td>Телефон</td>
                        	<td><%= @resume.profile.phone %></td>
                        </tr>
                        <tr>
                        	<th colspan="2" class="line-bottom"></th>
                        </tr>
                        <tr>
							<% if @resume.experiences.empty? %>
								<td><h3>Опыт работы</h3></td>
								<td>Нет опыта работы</td>
						</tr>
							<% else %>
	                        	<td><h3>Опыт работы</h3></td>
	                        	<td></td>
       					</tr>	
								<% @resume.experiences.each do |experience| %>
								<tr>
									<td><%= experience.position %></td>
									<td><p><%= experience.company %></p>
									 <%= "#{experience.month_from} #{experience.year_from}" %> – 
										<% if experience.current_workplace %> 
											настоящее время. 
										<% else %> 
											<%= "#{experience.month_till}  #{experience.year_till}." %>
										<% end %>
										<p><%= raw experience.achievements %></p>
									</td>
								</tr>
								<tr class="clear-border"><td></td><td></td></tr>
								<% end %>
							<% end %>

						<% unless @resume.educations.empty? %>
						<tr>
                        	<th colspan="2" class="line-bottom"></th>
                        </tr>
						<tr>
							<td><h3>Образование<h3></td>
							<td><td>
						</tr>
							<% @resume.educations.each do |education| %>			
							<tr>
							<td><%= "#{education.college}" %></td>
							<td style="border: 0;">
								<% unless education.profession.empty? %>
									<%= "специальность #{education.profession}" %>
								<% end %>

								<% unless education.faculty.empty? %> 
									<p><%= "факультет #{education.faculty}" %></p>
								<% end %> 

								<p><%= "#{education.diploma} -" %> 

								<% if education.student %> 
									еще учусь. 
								<% else %> 
									<%= "год окончания #{education.year_till}"%>
								<% end %>
								</p>
								
							</td>
							</tr>
						<tr class="clear-border"><td></td><td></td></tr>

							<% end %>
					<% end %>

					<% if @resume.additional_info != "" %>
					<tr>
                      	<th colspan="2" class="line-bottom"></th>
                    </tr>
						<tr>
							<td><h3>Дополнительно</h3></td>
                        	<td><%= raw @resume.additional_info %></td>
                        </tr>
					<% end %>
				</table>    
</div>