<div class="cap">
	<img src="/assets/save.png" class="icon-save"><a href="#">Сохранить</a>
	<img src="/assets/delete.png" class="icon-vdelete"><a href="#">Удалить</a>
	<img src="/assets/cancel.png" class="icon-cancel"><a href="#">Отменить</a>
</div>
<div class="boxed" id="cabinet">
	<!--<div class="photo"><%# image_tag @profile.photo.url(:show), :class => "photo-applicant" %></div>
	<div class="name-applicant"><h2><%# @fullName %></h2></div>-->

	<table cellpadding="0" cellspacing="0" class="photo-name-applicant">
		<tr>
			<td><%= image_tag @profile.photo.url(:show), :class => "photo-applicant" %></td>
			<td><h2><%= @fullName %></td>
		</tr>
	</table>
    <table class="paper" border="0" cellpadding="10">
                        <tr>
                        	<td>Желаемая должность</td>
	                        <td><%= @resume.position %></td>
                        </tr>
						<tr>
							<td>Желаемая зарплата</td>
							<td><%= @resume.salary %></td>
						</tr>
                        <tr>
                        	<td>Регион</td>
                        	<td><%= @resume.city %></td>
                        </tr>
                        <tr>
                        	<td>Электронная почта</td>
                        	<td><%= @applicant.email %></td>
                        </tr>
                        <tr>
                        	<td>Телефон</td>
                        	<td><%= @resume.profile.phone %></td>
                        </tr>
                        <tr>
                        	<th colspan="2" class="line-bottom"></th>
                        </tr>
                        <tr>
							<% if @resume.experiences.nil? %>
								<td><h3>Опыт работы</h3></td>
								<td>Нет опыта работы</td>
						</tr>
							<% else %>
	                        	<td><h3>Опыт работы</h3></td>
	                        	<td></td>
       					</tr>
								<% @resume.experiences.each do |experience| %>
								<tr>
									<td><%= experience.position %></td>
									<td><%= "#{experience.company }, #{experience.month_from} #{experience.year_from}" %> – 
										<% if experience.current_workplace %> 
											настоящее время 
										<% else %> 
											<%= "#{experience.month_till}  #{experience.year_till}" %> 
										<% end %><%= experience.achievements %>
									</td>
								</tr>
								<tr class="clear-border"><td></td><td></td></tr>
								<% end %>
							<% end %>
						<tr>
                        	<th colspan="2" class="line-bottom"></th>
                        </tr>
					<% unless @resume.educations.nil?%>
						<tr>
							<td><h3>Образование<h3></td>
							<td><td>
						</tr>
							<% @resume.educations.each do |education| %>			
							<tr>
							<td><%= "#{education.college}" %></td>
							<td style="border: 0;">
								<%= "#{education.diploma}" "-" %> 

								<% if education.student %> 
									еще учусь. 
								<% else %> 
									<%= "год окончания" "#{education.year_till}"%>
								<% end %>
								
								<% unless education.faculty.empty? %> 
									<%= "Факультет " "#{education.faculty}" %>
								<% end %> 
								<% unless education.profession.empty? %>
									<%= "по специальности " "#{education.profession}" %>
								<% end %>
							</td>
							</tr>
						<tr class="clear-border"><td></td><td></td></tr>

							<% end %>
					<% end %>
					<tr>
                      	<th colspan="2" class="line-bottom"></th>
                    </tr>
					<% unless @resume.additional_info.nil?%>
						<tr>
							<td><h3>Дополнительная</h3></td>
                        	<td><%= @resume.additional_info %></td>
                        </tr>
                        <tr><td colspan="2" style="border: 0; padding-bottom: 30px;"></td></tr>
					<% end %>
				</table>    
</div>