<script>
	$(document).ready(function(){	
		$(".profile").addClass("chosen");
	});	
</script>
<body onload="focus();">  

					<!--<h2><a class="service" href="my_green.html">Мой Netbee</a> / <a class="service" href="my_resumes_full_green.html">Мои резюме</a> / <span class="current">Бизнес-аналитик</span></h2>--> <!-- Хлебные крошки оставленные, удачно подобраны цвета  -->
			
                <ul class="middle-menu clearfix">
                        <li>
                            <img width="12" height="11" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_edit.gif" tooltip="Перейти к мастеру текущего резюме">
														<%= link_to("Редактировать", edit_applicant_resume_path(@resume.id)) %>
                        </li>
                        <li>
                            <img width="12" height="12" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_delete.gif" tooltip="Назначить текущее резюме резюме по умолчанию">
														<%= link_to("Удалить", applicant_resume_path(@resume.id), :method => :delete, :confirm => 'A you sure?') %>
                        </li>
                        <li><a href="#">

                            <img width="12" height="12" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_my.gif" tooltip="Распечатать резюме на принтере">
                              Сделать не активным
                        </a></li>
                        <li><a href="#">
                            <img width="12" height="12" style="position: relative; top: 2px; margin-right: 4px;" src="/assets/img/ico_pdf.gif" tooltip="Распечатать резюме на принтере">
														Экспортировать в PDF
                        </a></li>
                    </ul>

                <div class="middle-left">
                    <table cellpadding="0" cellspacing="0" class="paper">
                        <tr><td style="width: 20px; border: 0;" rowspan="30"><img width="20" height="1" src="img/spacer.gif" alt="" /></td><th colspan="2"><h2><%= @fullName %></h2></th><td style="width: 20px; border: 0;" rowspan="30"><img width="30" height="1" src="img/spacer.gif" alt="" /></td></tr>
                        <tr><td nowrap="nowrap"><h4>Желаемая должность:</h4></td><td><p><%= @resume.profile.title %></p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Регион:</h4></td><td><p><%= @resume.profile.city %></p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Электронная почта:</h4></td><td><p><a href="#"><%= @applicant.email %></a></p></td></tr>
                        <tr><td nowrap="nowrap"><h4>Телефон:</h4></td><td><p><%= @resume.profile.phone %></p></td></tr>
                        	<tr><th colspan="2"><h3>Опыт работы</h3></th></tr> 
					<% @resume.experiences.each do |experience| %>
						<tr><td><h4><%= experience.position %></h4></td><td><p><%= "#{experience.company } с #{experience.from} по #{experience.till}" %></p><p><%= experience.achievements %></p></td></tr>
					<% end %>
						<tr><th colspan="2"><h3>Образование</h3></th></tr>
						<% @resume.educations.each do |education| %>
							<tr><td colspan="2" style="border: 0;"><strong><%= education.college %></strong> <%= education.diploma %> <% unless education.till.nil? %> <%= "год окончания" "#{education.till}"%><% end %></td></tr>
							<tr><td colspan="2" style="border: 0;"><% unless education.faculty.empty? %> <%= "Факультет " "#{education.faculty}" %><% end %> <% unless education.profession.empty? %><%= "по специальности " "#{education.profession}" %><% end %></td></tr>
						<% end %>
                        <tr><td><h4>Английский язык:</h4></td><td><p>Свободно</p></td></tr>
                        <tr><td style="border: 0;"><h4>Знание офисного программного обеспечения и оргтехники:</h4></td><td style="border: 0;"><p>Опытный пользователь.</p></td></tr>
                        <tr><th colspan="2"><h3>Рекомендации</h3></th></tr>
                        <tr><td colspan="2" style="border: 0; padding-bottom: 30px;"><p>Замечательный работник! Очень рекомендуем всем коллективом.</p></td></tr>
                    </table>

                </div>
	
				


</body>
</html>
