<h5>Общая информация</h5>
<div class='item'>
	<%= employer_fields.label :name, "Название компании" %>
	<div class='field'>
		<%= employer_fields.text_field :name %>
	</div>
</div>
<div class='item'>
	<%= employer_fields.label :scope, "Сфера деятельности" %>
	<div class='field'>
		<%= employer_fields.text_field :scope %>
	</div>
</div>
<div class='item'>
	<%= employer_fields.label :description, "Описание" %>
	<div class='field'>
		<%= employer_fields.text_area :description %>
	</div>
</div>
<div class='item'>
	<%= employer_fields.label :site, "Сайт компании" %>
	<div class='field'>
		<%= employer_fields.text_field :site %>
	</div>
</div>
