<div class="cap">
      <img src="/assets/red-pencil.png" class="icon-red-pencil"><%= link_to "Редактировать", edit_employer_profile_company_path(@company) %>
</div>
<div class="boxed" id="cabinet">

	<table cellpadding="0" cellspacing="0" class="photo-name-applicant">
		<tr>
			<td><%= image_tag @company.logo.url(:small), :class => "photo-applicant", :title => "Компания #{@company.name}. Работа в медицине medical.netbee.ua" %></td>
			<td><h2>&#171;<%= @company.name %>&#187;</h2></td>
		</tr>
	</table>
    <table class="paper company" border="0" cellpadding="10">
                        <tr>
                        	<td>Сфера деятельности</td>
	                        <td><%= @company.scope %></td>
                        </tr>
						<tr>
							<td>Описание</td>
							<td><%= @company.description %></td>
						</tr>
                        <tr>
                        	<td>Сайт компании</td>
                        	<td><%= @company.site %></td>
                        </tr>
                        <tr>
                        	<th colspan="2" class="line-bottom"></th>
                        </tr>
                        <tr>
                        	<td style="height: 40px;">Контактная информация</td>
                        	<td style="height: 40px;"> <% @company.company_contacts.each do |contact| %>
                        			<div><%= "#{contact.name}: #{contact.phone}" %></div>
                        		 <% end %>
                        	</td>
                        </tr>
				</table>    
</div>