<div class="cap">
	<img src="/assets/save.png" class="icon-save"><a href="#" class="save-link">Сохранить</a>
	<!--<img src="/assets/delete.png" class="icon-vdelete"><a href="#">Удалить</a>-->
	<img src="/assets/cancel.png" class="icon-cancel"><%= link_to "Отменить", edit_applicant_profile_path(@profile) %>
</div>
<div class="boxed">
	<% if flash[:notice] %>
	      <br>
	      <div class="alert alert-block alert-success">
	            <p id="notice"><%= flash[:notice] %></p>
	      </div>
	<% end %>
	<%= form_for([:applicant, @profile], :html => { :class => 'standart_form' }) do |f| %>
	<h2>Профиль</h2>
		<div class='item'>
			<%= f.label :lastname, 'Фамилия' %>
			<div class='field'>
				<%= f.text_field :lastname, :value => "#{@profile.lastname}" %>
			</div>
		</div>
		<div class='item'>
			<%= f.label :firstname, 'Имя' %>
			<div class='field'>
				<%= f.text_field :firstname, :value => "#{@profile.firstname}" %>
			</div>
		</div>
		<div class='item'>
			<%= f.label :surename, 'Отчество' %>
			<div class='field'>
				<%= f.text_field :surename, :value => "#{@profile.surename}"%>
			</div>
		</div>
		<div class='item'>
			<%= f.label :date, 'Дата рождения' %>
			<div class='field'>
				<%= f.text_field :date, :value => "#{@profile.date}", :class => "datepicker", :placeholder => " дд/мм/гггг" %>
			</div>
		</div>
		<div class='item' style="margin-bottom: 0px;">
			<%= f.label :phone, 'Мобильный телефон' %>
			<div class='field'>
				<%= f.text_field :phone, :value => "#{@profile.phone}" %>
			</div>
		</div>
		<div class='item' style="margin-bottom: 0px;">
	      <%= f.label 'Фото' %>
	        <div class='field'>
	          <%= image_tag @profile.photo.url(:small), :alt => "", :id => "image-path-photo", :title => "#{@profile.lastname} #{@profile.firstname} #{@profile.surename}. Работа в медицине medical.netbee.ua" %>
	          <a class="upload-photo">Загрузить фото</a>
	          <%= f.file_field :photo, :accept => "image/jpeg,image/png,image/gif", :id => "file", :hidden => "hidden" %>
	        </div>
    	</div>
    	
		<span class="line-bottom line-bottom-company"></span>

		<div id="button-bottom">
			<%= link_to "Отменить", "/", :id => "btn-cancel", :class => "input-sub btn btn-danger" %>
			<%= f.submit "Сохранить", :class => "input-sub btn btn-warning", :name => "save" %>
		</div>
	<% end %>
</div>