<div id="frame" class="frame-admin">
	<div class="cap">
        <h3>Сфера деятельности</h3>
    </div>
	<div class="boxed">
		<%= nested_form_for([:admin, :seo, @scope], :html => { :class => 'standart_form scope_form' } ) do |f| %>

			<div class='item'>
				<div class='field'>
					<%= f.text_field :title %>
				</div>
			</div>
			<div class='item'>
				<div class='field'>
					<%= f.text_area :description, :class => 'wysihtml5' %>
				</div>
			</div>
			<%= f.fields_for :categories do |category| %>
				<div class='item'>
					<div class='field'>
						<%= category.text_field :name %>
					</div>
				</div>
				<div class='item'>
					<div class='field'>
						<%= category.text_area :description, :class => 'wysihtml5' %>
					</div>
				</div>
				<%= category.hidden_field :_destroy %><%= category.link_to_remove "Удалить категорию", :class => "red-link remove-link-contact-company" %>
				<div class="clearfix"></div>
			<% end %>
			

			<span class="line-bottom line-bottom-company line-bottom-scope"></span>
			<h3>Создание категории</h3>

			<div class=""><%= f.link_to_add "Добавить категорию", :categories, :class => "yellow-link"  %></div>
			<div class="clearfix"></div>

			<div id="button-bottom">
				<%= f.submit "Сохранить", :class => "input-sub btn btn-warning" %>
			</div>	

		<% end %>
	</div>
</div>

<div id="frame-other" class="">
      <div class="cap">
            <h3 id="">Категории</h3>
      </div>
      <div class="boxed">
      		<ul id="triple">
			<% @categories.each do |category| %>
				<% c = Russian.translit(category.name).parameterize %>
				<li><%= link_to "#{category.name}", edit_admin_seo_category_path(category) %></li>
            <% end %>
           	</ul>
      </div> <!-- .boxed -->
</div> <!-- #frame-other -->