<div id="search-result">
			<h4 class="title-last-vacancies"><span class="icon-last-vacancies">ПОЛЬЗОВАТЕЛИ</span></h4>
			<span class="label-tail-last-vacancies"></span>
			<table id="admin-search-result-account" class="search-result" width="100%">
				<tr>
					<th>Email</th>
					<th>Активация</th>
					<th>Тип аккаунта</th>
					<th>Посещений</th>
					<th>Последнее</th>
				</tr>
				<% @accounts.each do |account| %>	
					<tr>
						<td>
		    			<% if account.employer? %>
		    				<% company = Company.find_by_employer_id(account.id)%>
		    				<%= link_to_unless(company.nil?, account.email, {:controller => "/admin/companies/profile", :action => "edit", :id => company} ) do
		    				 		account.email
		    					end %>
		    			<% elsif account.applicant? %>
		    				<% resume = Resume.find_by_applicant_id(account.id)%>
		    					<%= link_to_unless(resume.nil?, account.email, {:controller => "/admin/resume", :action => "edit", :id => resume} ) do 
		    						account.email
		    						end %>
		    			<% else %>
		    				<%= account.email %>
		    			<% end %>
		    			</td>
		    			<td><%= if account.active? then "Активирован" else "Не активирован" end%></td>
		    			<td><%= account.account_type %></td>
		    			<td><%= account.session_count %></td>
		    			<td><%= account.session_last_time.localtime.strftime("%F %H:%M") if account.active? %></td>
					</tr>
				<% end %>
			</table>
			<div class="link-more"><b><a href="#">Показать еще</a></b></div>
</div>
