<style>
	.header a.btn{margin: 6px 0 0 200px; float: left;}
</style>
<header class="clearfix">
        <div class="header clearfix">
            <div class="greeting">
	            <a href="/" class="logo-company"><img src="/assets/img/logo.gif" alt=""></a>
            </div>
			<% if current_user %>
						<form class="form-search" style="width: 380px; float: left;">
							<div class="input-append">
								<input type="text" placeholder="Поиск работы..." class="span2 search-query" style="margin: 17px 0 0 0; width: 250px;">
								<button type="submit" class="btn" style="margin: 17px 0 0 0;">Результат</button>
							</div>
						</form>
            <div class="header-menu clearfix">
                <%# --------------------------------------------------------
				=> FIXME: заменить, пример, render 'navbar_link' if current_user.account_type? %>
				<% if current_user.employer? %>
					<%= render 'layouts/employer_link_navbar'%>
				<% elsif current_user.applicant? %>
					<%= render 'layouts/applicant_link_navbar'%>
				<% else %>
					<%= link_to "Выберать тип профиля", confirmation_account_type_url %>
				<% end %>
				<%# -------------------------------------------------------- %>
				<%= link_to "Выход", destroy_account_session_path %>
            </div>
        </div>
		<% else %>
	        <div class="header clearfix">
						<h1 class="login" style="display: none;">Вход</h1>
						<h1 class="signup" style="display: none;">Регистрация</h1> 
            		<div class="header-menu clearfix">
								<%= link_to "Регистрация", signup_path, :id => "signup" %>
								<%= link_to "Вход", login_path, :id => "login" %>
                				<a href="#">О проекте</a>
            		</div>
        	</div>
		<% end %>
</header>