<!DOCTYPE html>
<html>
<head>
  <title>Medical</title>
  <meta name="robots" content="noindex, follow">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag  "style", "bootstrap_buttons", "selectbox", "jquery-ui/jquery-ui-1.9.2.custom", "bootstrap-table", "admin", "bootstrap-navs", :media => "all" %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  
  <%= javascript_include_tag "jquery-1.9.1.min", "application", "calendar", "jquery-ui/jquery-ui-1.9.1.custom.min.js", "jquery.inputmask", "selectbox-for-nestedform", "standart_form", "selectbox", "admin", "tasks" %>

  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<header id="header-admin">
		<%= render :partial => 'layouts/navbar_admin'%>
	</header>
	<div class="notice"><p><%= flash[:notice] %></p></div>
		<div id="content">
			<%= yield %>
		</div>
	</div>		
</div>
</body>
</html>


