<!DOCTYPE html>
<html>
<head>
  <title>Карта сайта</title> 
  
  <!-- <link rel="canonical" href="http://#{request.host+request.fullpath}"/> этот линк касается СЕО оптимизации, пункт 1.7 Корректное формирование get запросов при маркировке url -->

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "bootstrap_style/bootstrap.min", "bootstrap-tooltip", "style", "bootstrap_buttons", "selectbox", "bootstrap-btn-group", "bootstrap-dropdown", :media => "all" %>
  <%= javascript_include_tag "jquery-1.9.1.min", "selectbox", "about", "bootstrap-btn-group", "bootstrap-tooltip" %>
  <%= csrf_meta_tags %>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-8KW8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-8KW8');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <div id="wrapper">
    <div class="notice"><p><%#= flash[:notice] %></p></div>
    <div id="content" class="start_page">
      <%= yield %>
    </div><!-- #content-->
  </div>
</body>
</html>
