<!DOCTYPE html>
<html>
<head>
  <title>Medical</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/navbar'%>
<div class="notice"><p><%= flash[:notice] %></p></div>
	<div class="wrapper">
		<section>
						<%= yield %>
		</section>
	</div>
	<footer>
	    <div class="footer">
	        <div>
	            <p>&copy; 2005 <a href="#">Staff Centre Group Of Companies</a></p>
	        </div>
	        <div>
	            <p>25 135 вакансий</p>
	        </div>
	        <div>
	            <p>10 009 резюме</p>
	        </div>
	        <div>
	            <p><a href="#">Guess Who designed it</a></p>
	        </div>
	    </div>
	</footer>
</body>
</html>
