<!DOCTYPE html>
<html>
<head>
  <title>Medical</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%#= stylesheet_link_tag    "middle-nav"%>
	<%#= stylesheet_link_tag    "bootstrap_style/bootstrap", :media => "all" %>
	<%#= stylesheet_link_tag    "startpage/green", "startpage/main", "startpage/mystyle", "startpage/paper", :media => "all" %>
	<%#= stylesheet_link_tag    "standart_form"%>
	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/navbar'%>

	<div class="wrapper">
		<section>
						<%= yield %>
		</section>
	</div>
	<footer>
	    <div class="footer">
	        <div>
	            <p>&copy; 2005 <a href="#">Staff Centre Group Of Companies</a></p>
	        </div>
	        <div>
	            <p>25 135 вакансий</p>
	        </div>
	        <div>
	            <p>10 009 резюме</p>
	        </div>
	        <div>
	            <p><a href="#">Guess Who designed it</a></p>
	        </div>
	    </div>
	</footer>
</body>
</html>
