<!DOCTYPE html>
<html>
<head>
  <title>Medical</title>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= stylesheet_link_tag "style", "bootstrap_buttons", "selectbox", "jquery-ui/jquery-ui-1.9.2.custom", :media => "all" %>
  <%= javascript_include_tag "jquery-1.9.1.min", "application", "calendar", "jquery-ui/jquery-ui-1.9.1.custom.min.js", "jquery.inputmask", "standart_form", "selectbox", "selectbox-for-nestedform" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="notice"><p><%= flash[:notice] %></p></div>

<div id="wrapper">
	<header id="header">
		<a href="/"><img alt="" class="logo" src="/assets/logo-netbee.png"></a>
		<div id="menu">
			<div class="my-profile">
				<%= link_to_if(current_user.resume.nil?, "Создать резюме", new_applicant_resume_path) do 
					link_to "Мой профиль", applicant_resumes_url
				end %>
			</div> 
			<div class="separator"></div> 
			<%= link_to "Выйти", logout_url, :class => "signup" %> 
		</div>
	</header><!-- #header-->
	<div id="content">
		<div id="frame">
			<%= yield %>
		</div><!-- #frame -->

		<div id="account-nav">
			<div class="cap">
				<%= link_to_if(current_user.profile.nil?, current_user.email, new_applicant_resume_path) do
							link_to current_user.email, edit_applicant_profile_path(current_user.profile.id)
						 end %> 
			</div>
			<div class="boxed-nav">
				<ul>
					<li><%= link_to_if(current_user.profile.nil?, "Профиль", new_applicant_resume_path) do
							link_to "Профиль", edit_applicant_profile_path(current_user.profile.id)
						 end %> <%# Class Profile - нужен если резюме удалено, профильные данные исправляются в профайле %>
					</li>
					<span class="line-bottom"></span>
					<li><%=	link_to_if(current_user.resume.nil?, "Резюме", new_applicant_resume_path) do
							link_to "Резюме", applicant_resumes_url
						end %></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div><!-- #content-->
</div><!-- #wrapper -->

<footer id="footer">
	<div class="social-networks">
		<h3>Мы в социальных сетях</h3>
		<div class="icon">
			<img alt="facebook" class="facebook" src="img/icon-facebook.png">
			<img alt="twitter" class="twitter" src="img/icon-twitter.png">
			<img alt="vk" class="vk" src="img/icon-vk.png">
		</div>
		<p>© <%= Time.now.year %> Группа компаний <a href="http://www.staff-centre.com" target="_blank">"Стафф Центр"</a></p>
	</div>	
</footer><!-- #footer -->
</body>
</html>
