<!DOCTYPE html>
<html>
<head>
  <title>Medical</title>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= stylesheet_link_tag "style", "bootstrap_buttons", "selectbox", :media => "all" %>
  <%= javascript_include_tag "jquery-1.9.1.min", "selectbox" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<div class="notice"><p><%# flash[:notice] %></p></div>-->
<div id="wrapper">
		<header id="header">
		<a href="/"><img alt="" class="logo" src="/assets/logo-netbee.png"></a>
		<div id="menu">
			<div class="my-profile">
				<% if current_user && current_user.employer? %>
					<%= render :partial => 'layouts/employer_link_navbar'%>
					<div class="separator"></div>
				<% elsif current_user && current_user.applicant? %>
					<%= render :partial => 'layouts/applicant_link_navbar'%>
					<div class="separator"></div>
				<% elsif current_user && current_user.account_type.nil? && current_user.active? %>
					<%= link_to "Выбрать тип профиля", confirmation_account_type_url %>
					<div class="separator"></div>
				<% elsif current_user && current_user.active? == false %>
					<%# FIXME: подлючить ссылку "Ваш профиль не активирован" %>
					<%= link_to "Ваш профиль не активирован", "#" %>
					<div class="separator"></div>
				<% end %>
			</div>
				<%= link_to_if(current_user, "Выход", logout_path, :class => "signup") do
						render :partial => 'layouts/other_link_navbar' 
					end %>
				<div class="separator"></div>
				<a class="about">Netbee</a>
		</div>
	</header><!-- #header-->
	<div id="content">
		<%= yield %>
	</div><!-- #content-->
</div><!-- #wrapper -->
<footer id="footer">
	<div class="social-networks">
		<h3>Мы в социальных сетях</h3>
		<div class="icon">
			<img alt="facebook" class="facebook" src="/assets/icon-facebook.png">
			<img alt="twitter" class="twitter" src="/assets/icon-twitter.png">
			<img alt="vk" class="vk" src="/assets/icon-vk.png">
		</div>
		<p>Design by Olga Jour, 2013</p>
	</div>	
</footer><!-- #footer -->
</body>
</html>
