<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Работа в медицине: вакансии и резюме в сфере фармацевтики и здравоохранения Украины: medical.netbee.ua" %></title>
  <meta name="description" content="<%= @description || "Работа в медицинской сфере: самый большой выбор актуальных вакансий и резюме. Сайт трудоустройства
  medical.netbee.ua." %>"> 
  <meta name="keywords" content="работа, вакансии, резюме, медицина, фармацевтика, здравоохранение, Украина, netbee">
  
  <!-- <link rel="canonical" href="http://#{request.host+request.fullpath}"/> этот линк касается СЕО оптимизации, пункт 1.7 Корректное формирование get запросов при маркировке url -->

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "style", "bootstrap_buttons", "selectbox", "bootstrap-btn-group", "bootstrap-dropdown", :media => "all" %>
  <%= javascript_include_tag "jquery-1.9.1.min", "selectbox", "about", "bootstrap-btn-group" %>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>
  <%= csrf_meta_tags %>
  <script>
	$(function() {
		$( "#menu" ).menu();
	});
  </script>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-8KW8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-8KW8');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!--<div class="notice"><p><%# flash[:notice] %></p></div>-->
<div id="wrapper">
		<header id="header">
		<a href="/"><img class="logo" src="/assets/logo-netbee.png" alt="Логотип medical.netbee.ua" title="Логотип. Работа в медицине medical.netbee.ua"></a>
		<div class="seo-banner">
			<h1>Сайт трудоустройства для жителей Киева, Харькова, Днепропетровска, Одессы, Винницы, Севастополя, Симферополя, Луганска, Житомира, Николаева, Запорожья, Донецка, Полтавы и других городов Украины.</h1>
		</div>
		<div id="menu">
			<div class="my-profile">
				<% if current_user && current_user.employer? %>
					<%= render :partial => 'layouts/employer_link_navbar'%>
					<div class="separator"></div>
				<% elsif current_user && current_user.applicant? %>
					<%= render :partial => 'layouts/applicant_link_navbar'%>
					<div class="separator"></div>
				<% elsif current_user && current_user.account_type.nil? && current_user.active? %>
					<%= link_to "Выбрать тип профиля", confirmation_account_type_url %>
					<div class="separator"></div>
				<% elsif current_user && current_user.active? == false %>
					<%# FIXME: подлючить ссылку "Ваш профиль не активирован" %>
					<%= link_to "Ваш профиль не активирован", active_recovery_path(:email =>current_user.email) %>
					<div class="separator"></div>
				<% end %>
			</div>
			<%= link_to_if(current_user, "Выход", logout_path, :class => "signup") do
				render :partial => 'layouts/other_link_navbar' 
			end %>
				
			<div class="separator"></div>
			<div class="btn-group">
				<a class="btn dropdown-toggle signup" data-toggle="dropdown" href="#" id="btn-drop">Справка</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><%= link_to "Новости", news_index_url %><li>
					<li><%= link_to "Контакты", contacts_index_url %></li>
					<li><%= link_to "Для пользователей", personal_data_index_url %><li>
					<li><%= link_to "О Netbee", about_url %><li>
				</ul>
			</div>
		</div>
	</header><!-- #header-->
	<div id="content" class="start_page">
		<%= yield %>
	</div><!-- #content-->
</div><!-- #wrapper -->
<footer id="footer">
	<%= render :partial => "layouts/footer" %>
</footer><!-- #footer -->
</body>
</html>
