        <div class="link-navigate">
            <h2 class="title">Восстановление</h2>
            <%= link_to "Вход", login_url %>
        </div>
        <div id="content">
        <%= form_for(@account, :url => {:action=>"update", :controller=>"accounts", :token => @account.token}) do |f| %>
          <div class="item">
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="item">
            <div class="field">
              <%= f.label :password, "Новый пароль" %>
              <%= f.password_field :password %>
            </div>
          </div>
          <br/>
          <%= f.submit "Восстановить", :class => "input-sub btn btn-warning" %>
        <% end %>
        </div><!-- #content-->